---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const items = await getCollection('works');
const sorted = items.sort((a,b) => +b.data.date - +a.data.date);
---
<BaseLayout title="Works | 이동수하우스">
  <h1 class="text-2xl font-bold">사례</h1>
  <ul class="mt-4 grid md:grid-cols-2 gap-6">
    {sorted.map(({ data, slug }) => (
      <li class="border rounded-xl p-6">
        <h3 class="font-semibold">{data.title}</h3>
        <p class="mt-2 text-sm text-gray-700 dark:text-gray-300">{data.summary}</p>
        <a href={`/works/${slug}/`} class="mt-4 inline-block text-[--color-primary] dark:text-blue-300 underline">자세히</a>
      </li>
    ))}
  </ul>
</BaseLayout>
